
*{
	box-sizing: border-box;
	}



.logo_img a img{
	height:150px;
	width:150px;
}

.box1{
	position: absolute;
	top: 20% ;
	left: 34%;

  
}
.border11{
background-color: blueviolet;

}

.reg{
	background: transparent;
	background-color:#77a5bb52;
}
.topbar{
	
}


input[type="text"],
.form {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
.form:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::placeholder {
	color: #181818!important;
}
.sidebar{
	height: 800px;
}

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.align1{


margin-left: 109px;
}
.align2{
margin-left: 1253px;
}
.hi1{
	text-align:center;
}
.hi2{
	margin-left: 305px;
}
}