<div class="list-group">
    <a *ngFor="let post of posts" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 col-lg-10 justify-content-between">
            <h5 class="mb-1">{{post.name}}</h5>
           
        
        </div>
        <div class="col-lg-2 float-right">
                <span class="">Just Now</span><br> 
            <i title="Edit" class="fa fa-edit" style="font-size: 25px;"  (click)="editPost(post)" aria-hidden="true"></i>
            <i title="Delete" class="fa fa-check-circle" style="font-size: 25px;" aria-hidden="true"></i>
        </div>

        <p class="mb-1">{{post.reason}}</p>
        
    </a>
</div>